#TechBoard{
    width:100%;
}

.tech:hover{
    outline: 2px solid White;
}

#TechBoard>div>div.tech{
    width:12%;
    margin: 0.25%;
}

#Rare .tech{
    background-image:linear-gradient(DimGrey,#7e718c);
}

#Military .tech{
    background-image:linear-gradient(DimGrey,#7b4f50);
}
#Grid .tech{
    background-image:linear-gradient(DimGrey,#5c716c);
}
#Nano .tech{
    background-image:linear-gradient(DimGrey,#836d46);
}