body {
    font-family: 'Courier New';
    color: green;
    background-color: black;
    font-weight: 900;
}
#console {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 20%;
}
#inputbar,p{
    font-weight: normal;
    color: lightgrey;
}
::-webkit-scrollbar {
    display: none;
}